@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('./assets/fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('./assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Condensed Light';
  src: url('./assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Light.ttf');
}

@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('./assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans SemiCondensed Light';
  src: url('./assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.ttf');
}

@layer base {
  html, body {
    margin: 0;
    background: #0f1414;
  }

  .app-container {
    margin: auto;
    max-width: 1280px;

    @media (min-width: 1024px) {
      padding: 10rem 6rem;
    }
  }

  .section {
    @media (max-width: 720px) {
      opacity: 0;
      transform: translate(0, 10vh);
      transition: all 2s;
    }
  }

  .section.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  .section-one-images {
    height: 340px;
    @media (min-width: 380px) {
      height: 460px;
    }
  }

  .modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}